# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [5]:
num_1 = 7

#### 2. asign any number of type float to the variable "num_2"

In [4]:
num_2 = 7.7

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [6]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [7]:
type(total)

float

#### 5. assign variable "height" with your height

In [8]:
height = 5.11

#### 6. asign variable "mass" with your weight

In [11]:
mass = 180

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = mass / (height * height)

#### 8. print value from "bmi" variable

In [13]:
print(bmi)

53.748992206396125

# String

#### 1. Create variable "name" with your first name

In [14]:
name = 'Nicolas'

#### 2. Create variable "surname" with your surname

In [15]:
surname = 'Lapenna'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [18]:
name_surname = name + ' ' + surname

#### 4. print variable "name_surname"

In [19]:
name_surname

'Nicolas Lapenna'

#### 5. print first letter from variable "name_surname"

In [20]:
name_surname[0]

'N'

#### 6. print your name (without empty space) from variable "name_surname"

In [22]:
name_surname[:7]

'Nicolas'

#### 7. print your surname 10x (use variable surname)

In [23]:
surname * 10

'LapennaLapennaLapennaLapennaLapennaLapennaLapennaLapennaLapennaLapenna'

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [24]:
greeting = 'Hello my name is ' + name_surname

#### 9. print "message" variable

In [26]:
print(greeting)

Hello my name is Nicolas Lapenna

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [38]:
str1 = "JhonDipPeta"
middle = int(len(str1)/2)
str1[middle-1:middle+2]

'Dip'

In [39]:
str2 = "FnirsgnaroignaorginhiojfpioajEoiGIfhsorgurosi"
middle = int(len(str2)/2)
str2[middle-1:middle+2]

'ojf'

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [76]:
s1 = "Ault"
s2 = "Kelly"

def middle(string):
    return len(string)//2

s3 = s1[:middle(s1)] + s2 + s1[middle(s1):]
s3

'AuKellylt'

In [77]:
s1 = "Nicolas"
s2 = "Lapenna"

def middle(string):
    return len(string)//2

s3 = s1[:middle(s1)] + s2 + s1[middle(s1):]
s3

'NicLapennaolas'

## List

#### 1. create empty list with name "empty_list"

In [79]:
emptylist = []
emptylist

[]

#### 2. create list "heights" with five random values

In [80]:
heights = [1, 2, 3, 4, 5]
heights

[1, 2, 3, 4, 5]

#### 3. print heights

In [81]:
heights

[1, 2, 3, 4, 5]

#### 4. print type of variable "heights"

In [82]:
type(heights)

list

#### 5. print second value from "heights"

In [83]:
heights[1]

2

#### 6. assign last three values from "heights" to another list "heights_2"

In [88]:
heights_2 = heights[-3:]
heights_2

[3, 4, 5]

#### 7. print "heights_2"

In [89]:
heights_2

[3, 4, 5]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [90]:
list_all = heights + heights_2
list_all

[1, 2, 3, 4, 5, 3, 4, 5]

#### 9. print "list_all"

In [91]:
list_all

[1, 2, 3, 4, 5, 3, 4, 5]

#### 10. print the type of "list_all"

In [92]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [94]:
emptytuple = ()
emptytuple

()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [96]:
emptytuple[0] = 'Nicolas'

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
print('tuples are an immutable object, they cannot be modified')

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [97]:
empty_dict = {}
empty_dict

{}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [100]:
heights_dict = {'nicolas':6}
heights_dict

{'nicolas': 6}

#### 3. asign another name and height to `heights_dict`

In [103]:
heights_dict['christine'] = 5
heights_dict

{'nicolas': 6, 'christine': 5}

#### 4. print `heights_dict` dictionary

In [104]:
heights_dict

{'nicolas': 6, 'christine': 5}

#### 5. print your height from the `heights_dict` dictionary

In [105]:
heights_dict['nicolas']

6

#### 6. print all values from `heights_dict` dictionary

In [106]:
heights_dict.values()

dict_values([6, 5])

#### 7. print all keys from `heights_dict` dictionary

In [107]:
heights_dict.keys()

dict_keys(['nicolas', 'christine'])